/* vim: fdm=marker smarttab expandtab ts=2 sw=2 */


/*** SLACKWISE.CSS v1.0.0
 
The purpose of this file is to provide general styles for articles or
documents I write. This is not specific to web pages or blog posts,
but may be usable for printed documents as a form of personal
letterhead, or even as HTML email styling for branding purposes.

You will find blog and structure related styling in other CSS files.
 ************************/

 /* @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap'); */

* {
  /* ONLY GLOBAL RULES THAT DON'T INHERIT */
  box-sizing: border-box; /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing#content:~:text=It%20is%20often%20useful%20to%20set,on%20while%20laying%20out%20your%20content. */
}

:root {

  /* TYPOGRAPHY */
  --general-font: 'Roboto',           'Verdana',      sans-serif;
  --body-font:    'Roboto Slab',      'Rockwell',     'Georgia',     serif;
  --code-font:    'Roboto Mono',      'Consolas',     'Inconsolata', monospace;
  --title-font:   'Roboto Condensed', 'Arial Narrow', 'Tahoma',      sans-serif;
  --quote-font:   'Roboto Serif',     'Georgia',      serif;

  /* --body-font: 'Averia Serif Libre'; */

  --title-font-size: 1.5em;
  --subtitle-font-size: 0.9em;
  font-size: 1.2em; /* Accessibility friendly relative size for browser override, and larger in general for readability */
  font-family: var(--general-font);
  font-kerning: auto;
  font-variant-ligatures: common-ligatures;


  /* COLOR NAMES */
  --zelda-green: #00CC00;
  --green: #47B747;
  --blue: #4781b8;
  --purple: #5847b8;
  --almost-white: #f8f8f8;
  --almost-white-grey: #EEE;
  --light-grey: #DDD;
  --dark-grey: #444;
  --lighter-dark-grey: #777;
  --almost-black: #1E1E1E;

  /* SEMANTIC COLORS */
  --body-copy-color: var(--dark-grey);
  --aside-copy-color: color-mix(in srgb, var(--body-copy-color), white 30%); /* lighten by mixing in white */
  --subtitle-color: var(--lighter-dark-grey);
  --background-color: var(--almost-white-grey);
  --link-color: var(--blue);
  --link-color-visited: var(--purple);
  --emphasis-color: var(--green);

  color: var(--body-copy-color);
  background-color: var(--background-color);

  /* SIZING & SPACING */
  --box-shadow: 0 0 5px 1px rgba(0,0,0,.5);
  --box-border: 1px solid var(--light-grey);
  --border-radius: 5px;
  --us-letter-width: 8.5in;
  --us-letter-margin: 1in;
  --content-max-width: calc(var(--us-letter-width) - var(--us-letter-margin));
  --content-padding: calc(var(--us-letter-margin) / 5); 
}

/*
  Let's keep the width readable, and as a bonus: printable.
  The goal of this layout is to match a (US) letter in size and style,
  as this stylesheet will be used for my own documents as well.
*/
article {
  max-width: var(--us-letter-width);
  margin: var(--us-letter-margin);
}

/*
  If we are composing outside an article, we still want any body copy
  to fit within a letter.
*/
p {
  max-width: var(--content-max-width);
  font-family: var(--body-font);
  text-align: justify;
}

aside {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-size: 1.2em;
}

/* TITLE */
h1 {
  font-size: var(--title-font-size);
}

/* Let's keep the title and subtitle close together */
header > hgroup * {
  margin: 0; 
}

/* SUBTITLE */
header > hgroup p {
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  font-weight: bold;
  color: var(--subtitle-color);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-color-visited);
}

details {
  font-family: var(--title-font);
  border-radius: var(--border-radius);
  border: var(--box-border);
  box-shadow: var(--box-shadow);
}
details > summary {
  font-family: var(--body-font);
}

pre {
  padding: var(--content-padding);
  background: var(--almost-black);
  color: var(--almost-white);
  border: var(--box-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

pre,
pre *,
code,
code *,
:not(pre) > code {
  font-family: var(--code-font);
}

pre > code,
pre[class*="language-"],
pre[class*="language-"] *,
pre > code[class*="language-"],
pre > code[class*="language-"] * {
  font-family: var(--code-font);
  font-size: 80%;
}

footer {
  color: var(--aside-copy-color);
  font: var(--title-font);
  font-size: 60%;
}

footer h2 {
  display: none;
}

footer dl {
  width: 100%;
  display: grid;
  grid-template-areas: "author     publishdate"
                       "comments   updatedate"
                       "comments   versionhistory";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 10px;
}

footer dl > * {
  margin: 0;
}

footer dl dt {
  display: none;
  /* background-color: var(--almost-white-grey); */
  /* float: left;
  clear: left; */
  /* padding-right: var(--content-padding); */
}
footer dl dd {
}

@media (max-width: 8.5in) { /* US letter width */
  article {
    margin: var(--content-padding);
  }
}

@media print {
  @page {
    size: letter;
    margin: var(--us-letter-margin);
  }

  /* Only want to print the articles themselves, so hide the rest: */
  body > :not(main) {
    display: none;
  }

  /* And let's make sure they have some real margins: */
  article {
    margin: 0; /* Relying on @page margin instead */
    font-size: 80%; /* Honestly just winged this to match the render vs print sizes */
  }
}

@media (max-resolution: 96dpi) {
  /* Old ass displays render fonts poorly, so let's increase their stroke width a little to improve readability: */
  /* Confirmed to target 1080p and low DPI displays that have issues rendering fonts */
  p { 
    /* stroke-width: 0.2em; */ /* This improves the legibility of fonts on Windows, at least when light-on-dark */
  }
}