@import url("slackwise.css");

:root {
  --backdrop-color: #EEE;
  --max-sidebar-width: 370px;
  --max-sidebar-width: calc(var(--us-letter-width) / 2);
  --max-sidebar-height: calc(100dvh - var(--us-letter-margin));
}

body { 
  background-color: var(--backdrop-color);
  margin: 0;
  display: grid;
  grid-template-areas:
    "...   ......  ....    .....   ..."
    "...   header  main    aside   ..."
    "...   ......  main    .....   ..."
    "...   ......  footer  .....   ...";
  grid-template-columns: 1fr minmax(auto, var(--max-sidebar-width)) auto auto 1fr;
  grid-template-rows: var(--us-letter-margin) var(--max-sidebar-height) 1fr max-content;

  > header {
    grid-area: header;
    position: sticky; 
    top: var(--us-letter-margin);
    height: var(--max-sidebar-height);
    display: flex;
    justify-items: right;
    flex-direction: column;
    flex-wrap: wrap;
    > div#logo {
      align-self: top;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: var(--content-padding);
      > img {
        height: 80px;
        width: 80px;
      }
    }
    > nav {
      align-self: top;
      text-align: right;
      > h2 {
        display: none;
      }
      > ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: var(--content-padding);
        font-size: var(--title-font-size);
        font-family: var(--title-font);
      }
      & a {
        
      }
      & a:visited {
        color: none;
      }
    }
    > section#thesis {
      order: 99;
      align-self: flex-end;
      margin-top: 0 auto !important;
      > p {
        font-size: 80%;
        max-width: var(--max-sidebar-width);
      }
    }
  }
  > main {
    grid-area: main;
    > article:first-of-type {
      margin-top: 0;
    }
  }
  > aside {
    grid-area: aside;
    position: sticky; 
    top: var(--us-letter-margin);
    height: var(--max-sidebar-height);
    justify-self: left;
    align-self: top;
    > :first-child {
      margin-top: 0;
    }
  }
  > footer {
    grid-area: footer;
    margin-left: var(--us-letter-margin);
  }
}