@import url("slackwise.css");

:root {
}

body { 
  margin: auto;
  display: grid;
  grid-template-areas:
    ".     .     .     .     ."
    ".   header main  aside  ."
    ".   nav    main  aside  ."
    ".   thesis main  aside  ."
    ".   footer main  aside  .";
  grid-template-columns: 1fr auto auto auto 1fr;
  grid-template-rows: var(--content-padding) auto 1fr auto auto;

  & header {
    grid-area: header;
  }
  & nav {
    grid-area: nav;
  }
  & main {
    grid-area: main;
  }
  & aside {
    grid-area: aside;
  }
  & footer {
    grid-area: footer;
  }
}