@font-face {
  font-family: "Roboto Flex";
  src: url("RobotoFlex.ttf");
}
/* A variant with more breathing room for paragraph readability */
@font-face {
  font-family: "Roboto Flex (Custom Body)";
  font-stretch: 120%;
  /* font-weight: 450; */  /* Desireable on 96dpi displays and below */
  /* font-variation-settings: "YOPQ" 90; /* Makes only the thinner parts a bit thicker */
  src: url("RobotoFlex.ttf");
}


@font-face {
  font-family: "Roboto Slab";
  src: url("RobotoSlab-VarWeight.ttf");
}


@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  src: url("RobotoSerif-Variable.ttf");
}
@font-face {
  font-family: "Roboto Serif";
  font-style: italic;
  src: url("RobotoSerif-Variable-Italic.ttf");
}


@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("RobotoCondensed-VarWeight.ttf");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  src: url("RobotoCondensed-VarWeight-Italic.ttf");
}


@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  src: url("RobotoMono-VarWeight.ttf");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  src: url("RobotoMono-VarWeight-Italic.ttf");
}

 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("Roboto-Thin.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url("Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("Roboto-Light.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("Roboto-LightItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("Roboto-Italic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("Roboto-Black.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("Roboto-BlackItalic.ttf");
}